<% include ../partials/header %>
<!-- edit page for the post - only visible to owners of the post  -->
<div class="container">
    <div class="row">
        <h1 style="text-align: center">Edit <%= pet.name %></h1>
        <div style="width: 30%; margin: 25px auto;">
            <!-- all form info is taken from the new pets page  -->
            <form action="/pets/<%= pet._id %>?_method=PUT" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="pet[name]" value="<%= pet.name %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="pet[type]" value="<%= pet.type %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="pet[image]" value="<%= pet.image %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="pet[description]" value="<%= pet.description %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="pet[location]" value="<%= pet.location %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="site" placeholder="How to contact? Provide FB URL or Website Site">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <!-- redirects back to the pet page  -->
            <a href="/pets">Go Back</a>
        </div>
    </div>
</div>
<% include ../partials/footer %>

