<% include ../partials/header %>

<div id="itemsContainer">
    <h2 align="center">Adopt Me </h2>

    <div class="well col-xs-8 col-xs-offset-2">

        <img class="img-responsive" src="<%= pet.image %>">

        <h3 class="center description"><%=pet.name%></h3>

        <p><%=pet.location%></p>

        <p><%= pet.description %></p>

        <p>
            <em>Submitted By <%= pet.author.username %></em>
        </p>

        <% if(currentUser && pet.author.id.equals(currentUser._id)){ %>
        <a class="btn btn-xs btn-warning" href="/pets/<%= pet._id %>/edit">Edit</a>
        <form id="delete-form" action="/pets/<%= pet._id %>?_method=DELETE" method="POST">
            <button class="btn btn-xs btn-danger">Delete</button>
        </form>
        <% }%>



    </div>



</div>

<% include ../partials/footer %>